*.py[cod]

# C extensions
*.so

# Virtual Envs
env/

# Results
results/

# Cache for dataset
.dscache

# Datasets
data/

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# Logs
*.log

# Packages
*.egg
*.egg-info
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Complexity
output/*.html
output/*/index.html

# Sphinx
docs/_build

# Cookiecutter
output/
